<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link rel="stylesheet" href="/public/style.css">
  <title>Budtr Index</title>
</head>

<% let bankAccount = null %>
<% for (let i = 0; i < allBudgets.length; i++) { %>
  <% bankAccount += parseInt(allBudgets[i].amount)} %>

<body>
  <h1>Budgtr</h1>
  <h2 style="<%= bankAccount < 0 ? 'color : red;' : 'color : green;' %>" >Total: $<%= bankAccount %>.00</h2>
  <a href="/budgets/new"><button>NEW</button></a>
  <div class="container"></div>
  <table style="text-transform: capitalize;">
    <% for(let i = 0; i < allBudgets.length; i++) { %>
      <tr>
        <td>
          <%= allBudgets[i].date %>
          </a>
        </td>
        <td>
          <a href="/budgets/<%= i %>">
          <%= allBudgets[i].name %>
          </a>
        </td>

      <td>
        <%= allBudgets[i].amount %>
        </a>
      </td>
      
    </tr>
        <% } %>
  </table>
</body>
</html>