<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link rel="stylesheet" href="/public/style.css">
  <title>Budgtr Show</title>
</head>
<body>
  <h1><%= title %></h1>

  <div class="container"></div>

  <a href="/budgets"><button>BACK</button></a>

  <p><strong>date</strong></p>
  <p><%= date %></p>
  <p><strong>name</strong></p>
  <p><%= name %></p>
  <p><strong>from</strong></p>
  <p><%= from %></p>
  <p><strong>amount</strong></p>
  <p><%= amount %></p>
  <p><strong>tags</strong></p>
  <p><%= tags %></p>

</body>
</html>